[user]
	email = petar.p.kirov@gmail.com
	name = Petar Kirov
[core]
	editor = nvim
[include]
    path = git/aliases.gitconfig
    path = git/delta.gitconfig
[difftool "diffpdf"]
  cmd = diffpdf \"$LOCAL\" \"$REMOTE\"
[difftool "nvimdiff"]
    cmd = nvim -d \"$LOCAL\" \"$REMOTE\"
[diff]
	colorMoved = dimmed-zebra
