[user]
	email = petar.p.kirov@gmail.com
	name = Petar Kirov
[core]
	editor = nvim
    pager = diff-so-fancy | less --tabs=4 -RFX
    #pager = delta --dark --highlight-removed --minus-color="#70000F" --plus-color="#8E6406" --theme=Dracula --plus-emph-color="#F6D117" --minus-emph-color="#DD330F"
[interactive]
    #diffFilter = delta --color-only
[alias]
    lg = log --color --graph --pretty=format:'%C(bold red)%h%Creset  %<(13,trunc)%C(bold yellow)%cr%Creset %<(80,trunc)%s%Creset 💾 on %C(bold yellow)%ad%Creset by %C(bold blue)%an%Creset %C(yellow)%d' --abbrev-commit '--date=format:%d %b %Y'
    lgs = log --color --graph --pretty=format:'%C(bold red)%h%Creset %<(80,trunc)%s%Creset %C(yellow)%d' --abbrev-commit '--date=format:%d %b %Y'
    lr = log --color --reverse --pretty=format:'%C(bold red)%h%Creset  %<(13,trunc)%C(bold yellow)%cr%Creset %<(80,trunc)%s%Creset 💾 on %C(bold yellow)%ad%Creset by %C(bold blue)%an%Creset %C(yellow)%d' --abbrev-commit '--date=format:%d %b %Y'
    lrs = log --color --reverse --pretty=format:'%C(bold red)%h%Creset %<(80,trunc)%s%Creset %C(yellow)%d' --abbrev-commit '--date=format:%d %b %Y'
[color]
	ui = true
[color "diff-highlight"]
	oldNormal = red bold
	oldHighlight = red bold 52
	newNormal = green bold
	newHighlight = green bold 22
[color "diff"]
	meta = yellow
	frag = magenta bold
	commit = yellow bold
	old = red bold
	new = green bold
    whitespace = red reverse
[difftool "diffpdf"]
  cmd = diffpdf \"$LOCAL\" \"$REMOTE\"
[difftool "nvimdiff"]
    cmd = nvim -d \"$LOCAL\" \"$REMOTE\"
[diff]
	colorMoved = dimmed-zebra
