name: CI

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  Nix:
    strategy:
      fail-fast: false
      matrix:
        include:
          - slug: nixos-x13
            os: ubuntu-latest
            job_name: NixOS system configuration
            nix_flake_output: ".#nixosConfigurations.zlx-flow-x13.config.system.build.toplevel"
          - slug: nixos-mcl
            os: ubuntu-latest
            job_name: NixOS system configuration
            nix_flake_output: ".#nixosConfigurations.mcl-nixos-desktop01.config.system.build.toplevel"
          - slug: nix-hm
            os: ubuntu-latest
            job_name: Home Manager user configuration
            nix_flake_output: ".#homeConfigurations.zlx.activationPackage"
          - slug: nix-hm-macos
            os: 	macos-latest
            job_name: Home Manager macOS user configuration
            nix_flake_output: ".#homeConfigurations.home-config-macos.activationPackage"
    name: ${{ matrix.slug }}
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v4

      - uses: cachix/install-nix-action@v23
        with:
          nix_path: nixpkgs=channel:nixos-unstable
          github_access_token: ${{ secrets.GITHUB_TOKEN }}

      - uses: cachix/cachix-action@v12
        with:
          name: petar-kirov-dotfiles
          authToken: '${{ secrets.CACHIX_AUTH_TOKEN }}'

      - name: Build ${{ matrix.job_name }}
        run: nix build "${{ matrix.nix_flake_output }}"
